<table class="table table-condensed">
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for vendor,total in totals %}
            <tr>
                <th>{{ vendor }}</th>
                <td>${{ total|number_format(2) }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Grand Total</th>
            <td>${{ grand_total|number_format(2) }}</td>
        </tr>
    </tfoot>
</table>