{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">

            <form class="form-inline" action="{{ path('set_customer_number') }}" method="post">
                <sup>If you do not know your customer, please ask a sales representative</sup><br>
                <input class="form-control" type="text" name="customerNumber" placeholder="Customer Number">
                <button class="btn btn-default" type="submit">Start Ordering</button>
            </form>

        </div>

        <div class="col-sm-3"></div>
    </div>

{% endblock %}
