{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6"><img class="img-responsive" src="/images/itinerary/30-MIN-QUICK-SESSION.png"></div>
            <div class="col-md-6">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/hDECxJQzDWs?si=pX3bz6NRzoPr3Koy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
        </div>
    </div>
    
    <iframe src="/images/itinerary/Schedule.pdf" style="width:100%;height:800px;" frameborder="0"></iframe>

{% endblock %}
