{% extends 'sales/sales.html.twig' %}

{% block body %}

    <h1>Order edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-primary" type="submit" value="Edit" />
    <a class="btn btn-default" href="{{ path('sales_showorder_index') }}">Cancel</a>
    {{ form_end(edit_form) }}

{% endblock %}
